*~
*.1
*.1.in
*.o
*.lo
*.la
*.so
*.html
.DS_Store
.deps
.dirstamp
.libs
.travis.yml
/build-aux/mkrockspecs
/ChangeLog
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.h.in
/configure
/config.h
/config.log
/config.lt
/config.status
/libtool
/*.rockspec
/*.tar.gz
/stamp-h1
ar-lib
config.guess
config.sub
depcomp
install-sh
libtool.m4
ltmain.sh
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
luarocks-config.lua
missing
